{% block header %}
   <header>
    <nav>
        <ul>
            <li><a href="{{ path('default_redirect_to_home')}}">Página de inicio</a>
            <li><a href="{{ path('default_index') }}">Empleados HTML</a>
            <li><a href="{{ url('default_index_json', {_format: 'json'}) }}">Empleados JSON</a>
            {% if app.user %}
                <li>
                    <a href="{{ path('app_logout') }}">Cerrar sesión</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
{% endblock %}